<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="firstName">Enter First Name: </label>
    <input th:type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter Last Name: </label>
    <input th:type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="age">Enter Age: </label>
    <input th:type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter Email: </label>
    <input th:type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Enter Password: </label>
    <input th:type="text" th:field="*{password}" id="password"/>
    <br/>
    <ul>
        <li th:each="role : ${roles}">
            <div>
                <label for="role" th:text="${role.getRole()}">role</label>
                <input type="checkbox" name="rolesArray" th:value="${role.getRole()}" id="role"/>
            </div>
        </li>

    </ul>
    <br/>
    <input type="submit" value="Create user"/>
    <br/>
</form>
<br/>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>